# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular data science language
- List popular tools in data science
- Table of tools in data science
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. JavaScript
5. Java
6. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-Learn
2. Pandas
3. TensorFlow
4. Keras
5. Numpy
6. Scipy
7. Matplotlib
8. Seaborn

|Data Science Tools|
|---|
|Jupyter Notebook|
|Tensorflow|
|ggplot|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)
print()

rounded_hours = str(round(hours, 2))
print(rounded_hours + "hours")

3.3333333333333335

3.33hours

## Author
William Kee